body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #ffff;
   
    }


header{
    background-color:#33af65;
    text-align: center;
    color:#1b3d2d;
    padding: 1.5rem 0;
    border: none;
}
.cabecalho{
background-size:cover ;
background-position: center;
justify-content: space-between;

}

 nav a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
  }
  nav a:hover{
    background-color: #27884e ;
}

.section1{
padding: 100px 20px;
text-align: center;
align-items: center;
  }
  .section1 h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #204131;
  }

   .btn-principal {
      margin-top: 30px;
      padding: 14px 32px;
      font-size: 1rem;
      color: white;
      background-color: #264d3b; /* verde escuro */
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-bottom: 150px;
    }
    .btn-principal:hover {
  background-color: #3b6d56;
}



/* PAGINA SOBRE NOS*/
.section2{
padding: 80px 20px;
display: flex;
justify-content: center;
align-items: center;


    }
.container-sobre {
     margin-bottom: 40px;
      text-align: center;
      align-items: center;
      max-width: 800px;
      padding: 20px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    .container-sobre h1 {
      font-size: 2.5rem;
      color: #264d3b; /* Verde escuro */
      margin-bottom: 20px;
    }

    .container-sobre p {
      font-size: 1.2rem;
      color: #242323;
      line-height: 1.6;
    }



    /*RODAPÉ*/
    footer{
    text-align: center;
    background-color:#33af65;
    color: #fff;
    padding: 0.5rem 0;
  
}


/* PAGINA CADASTRO*/

.section3 {
  padding: 15% 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 150px;
}

/* Container do cadastro */
.container-cadastro {
  width: 100%;
  max-width: 500px;  
  text-align: center;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

/* Estilo para labels */
.formulario label {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Estilo para os inputs */
.formulario input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}



/* Botão de cadastrar */
.btn-cadastrar {
  width: 100%;
  padding: 14px;
  background-color: #264d3b;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-cadastrar:hover {
  background-color: #3b6d56;
}
